<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tao</title>
  <link rel="stylesheet" href="dist/reset.css">
  <link rel="stylesheet" href="dist/app.css">
  <script type="text/javascript" src="dist/app.js"></script>
</head>
<body>
  <div class="logo-container">
		<object id="tao" data="/dist/images/Yin_yang.svg" type="image/svg+xml" viewBox="0 0 100 100"></object>
  </div>
  <div class="about" style="visibility:hidden;">
		<p>Nurture the darkness of your soul
		until you become whole.
		Can you do this and not fail?
		Can you focus your life-breath until you become
		supple as a newborn child?
		While you cleanse your inner vision
		will you be found without fault?
		Can you love people and lead them
		without forcing your will on them?
		When Heaven gives and takes away
		can you be content with the outcome?
		When you understand all things
		can you step back from your own understanding?
		Giving birth and nourishing,
		making without possessing,
		expecting nothing in return.
		To grow, yet not to control:
		This is the mysterious virtue. </p>
  </div>
  <div id="scrollpromptcontainer" class="scrollpromptcontainer">
    <div class="scrollprompt" style="opacity:0;">
      <object id="scrollprompt" data="/dist/images/ic_keyboard_arrow_down_black_24px.svg" type="image/svg+xml" viewBox="0 0 100 100"></object>
    </div>
  </div>
  <div id="justafter" class="justafter" style="opacity:0;">
    <div class="boxset1">
      <div id="boxleft1"></div>
      <h1>KNOW</h1>
      <div id="boxright1"></div>
    </div>
    <div class="boxset2">
      <div id="boxleft2"></div>
      <h1>WHEN</h1>
      <div id="boxright2"></div>
    </div>
    <div class="boxset3">
      <div id="boxleft3"></div>
      <h1>NAMING</h1>
      <div id="boxright3"></div>
    </div>
    <div class="boxset4">
      <div id="boxleft4"></div>
      <h1>SHOULD</h1>
      <div id="boxright4"></div>
    </div>
    <div class="boxset5">
      <div id="boxleft5"></div>
      <h1>END</h1>
      <div id="boxright5"></div>
    </div>
    <div id="balls" class="balls">
      <img id="boat" src="/dist/images/boat-interior.png">
      <svg id="bigball" viewBox="0 0 200 200" style="stroke:#006600; fill:#f0d078" xmlns="http://www.w3.org/2000/svg">
          <circle cx="100" cy="100" r="99"/>
      </svg>
    </div>
  </div>
</body>
</html>
